
:root{
  --theme: #fdcf6d;
  --info-text-color: #302d46;
  --footer-background:rgb(32, 20, 20);
}
.head_nav{
  display: flex;
  width: 90%;
  padding: 0 5%;
  min-height: 9vh;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 20px; */
  /* border: 2px solid gold; */
  /* background: slateblue; */
}
.head_nav #logo{
  font-size: 2rem;
  font-weight: 600;
  color: var(--info-text-color);
}
.head_nav p{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.head_nav p i{
  padding: 3px;
  border-right: 1px dotted darkgray;
}
.head_nav p a{
  align-items: center;
  color: #fdcf6d;
  color: rgb(75, 75, 75);
  display: flex;
  gap: 0.3rem;
}
.head_nav p a strong{
  border-bottom: 1px dotted darkgray;
}
.head_nav p a small{
  display: flex;
  flex-direction: column;
}
.head_nav article{
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.head_box{
  width: 100%;
  min-height: 91vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 0 10% 10% 0; */
  /* overflow-y: auto; */
}
.social_nav{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 20px;
  top: -10px;
  z-index: 10;
}
.social_nav i{
  color: #fdcf6d;
}

.head_box .swiper , .head_box .swiper .swiper_cover{
  width: 100%;
  height: 65vh;
  min-height: 91vh;
  border-radius: 0 18% 18% 0;
  border-radius: 0 20% 0 20%;
  /* border-radius: 0 10% 0 10%; */
}
.head_box .swiper{
  top: 0;
  left: 0;
  position: absolute;
  filter: blur(1px);
  background-image: url(images/room3.jpg);
  background-position: center;
  background-size: cover;
}
.head_box .swiper .swiper_cover{
  background: rgba(0, 0, 0, 0.4);
}
.head_box_con{
  width: 85%;
  /* display: none; */
  /* background:  var(--info-text-color); */
  /* position: absolute; */
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  z-index: 10;
  /* border: 2px solid gold; */
}
.head_box_con p{
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color:  white;
}
.head_box_con p #s1{
  color: #fdcf6d;
  /* color: #fdcf6d; */
}
.head_box_con form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  max-width: 98%;
  padding: 20px 1%;
  background: white;
  background: #fdcf6d;
  /* background: #272445; */
  /* background: #302d46; */
  /* background: rgb(36, 36, 36); */
  color: rgb(112, 111, 111);
  border-radius: 100px;
  /* min-height: 15vh; */
}
.head_box_con form .input_field{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.head_box_con form .input_field span{
  font-size: 0.9rem;
  /* font-weight: 600; */
  color:  var(--info-text-color);
}
.head_box_con form .input_field input, #guest_num{
  border-bottom: 1px solid rgb(112, 111, 111);
  border-bottom: 1px solid #fdcf6d;
  border-bottom: 1px solid  white;
  color: rgb(112, 111, 111);
  color: #fdcf6d;
  color:  var(--info-text-color);
  color: rgb(114, 114, 114);
  background: transparent;
  font-size: 1rem;
  padding: 8px 10px;
  background: white;
  border-radius: 5px;
}
.head_box_con form .input_field input::placeholder{
  color: rgb(114, 114, 114);
}
.head_box_con form .input_field button{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #fdcf6d;
  background:  var(--info-text-color);
  color:  var(--info-text-color);
  color: #fdcf6d;
}
.head_box_con form .input_field button i{
  background:  var(--info-text-color);
  padding: 1px;
  border-radius: 3px;
  color: #fdcf6d;
}
